//Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
  right: 0;
  border-color: #38b2ac;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #38b2ac;
}
